# datasets
Preprocessing/Video_WithoutAudio/
Preprocessing/audio_clips/
Preprocessing/processed_dataset_wholebody/
Preprocessing/audio_embeddings/

# models
Preprocessing/dwpose_models/

# python
.venv/
__pycache__/
*.pyc
